# Bundler
alias be='bundle exec'
alias bi='bundle install'
alias bu='bundle update'
alias b='bundle'

# Editor
alias edit="subl"

# Generic
alias ll="ls -la"

# Git
alias gp="git push"
alias gl="git pull"
alias gco="git checkout"
alias gsp="git stash; git pull; git stash pop"
