[user]
	name = Luke van der Hoeven
	email = hungerandthirst@gmail.com
[branch]
	autosetuprebase = always
[push]
	default = tracking
[branch "master"]
	rebase = true
[github]
	token = b9433a77479dfbefacf4b65c82a96357
	user = plukevdh
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
[core]
	excludesfile = /Users/hungerandthirst/.gitignore_global
	editor = subl -w
[color]
	ui = true
[alias]
	l = "!source ~/.githelpers && pretty_git_log"
[merge]
	conflictstyle = diff3
[rerere]
	enabled = 1
