[user]
	name = Luke van der Hoeven
	email = hungerandthirst@gmail.com
[branch]
	autosetuprebase = always
[push]
	default = tracking
[branch "master"]
	rebase = true
[github]
	token = b9433a77479dfbefacf4b65c82a96357
	user = plukevdh
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
[core]
	excludesfile = ~/.gitignore_global
	editor = subl -w
	autocrlf = false
	ignorecase = true
[color]
	ui = true
[alias]
	l = "!source ~/.githelpers && pretty_git_log"
	cleanup = "!source ~/.githelpers && cleanup_git_branches"
[rerere]
	enabled = 1
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
[credential]
	helper = osxkeychain
